<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    
    </head>
<body role="document">
    <div>
        @RenderBody()
    </div>
</body>
</html>
